$font-family-sans: Value Sans Pro, sans-serif;
$font-size-base: 10px;

$button-bg-primary: #ccfd13;
$button-bg-secondary: #ffffff;

$button-text-primary: #000000;
$button-text-secondary: #a0a0a0;

$button-border-secondary: #e8e8e8;