@import '../../styles/variables';
@import '../../styles/mixin';

.button-scl {
    @include display-flex(center, center);
    width: 100%;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;

    &__type-primary {
        background-color: $button-bg-primary;
        color: $button-text-primary;
    }
    &__type-secondary {
        background-color: $button-bg-secondary;
        border-color: $button-border-secondary;
        color: $button-text-secondary;
    }

    &__size-sm {
        @include button-size-param(7px 12px, 14px, 22px);
        letter-spacing: 0.42px;
    }
    &__size-md {
        @include button-size-param(12px, 16px, 20px);
    }
    &__size-lg {
        @include button-size-param;
    }

    &__icon {
        @include display-flex(center, space-between)
    }
}