@font-face {
    font-family: "Value Sans Pro";
    src: local("ValueSansPro-Regular"), url("../assets/fonts/ValueSansPro-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Value Sans Pro";
    src: local("ValueSansPro-Medium"), url("../assets/fonts/ValueSansPro-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Value Sans Pro";
    src: local("ValueSansPro-Bold"), url("../assets/fonts/ValueSansPro-Bold.woff2");
    font-weight: 700;
}