@mixin display-flex($ai: start, $jc: start) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
}

@mixin h4 {
    font-family: $font-family-sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

@mixin text {
    font-family: $font-family-sans;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 3%;
}

@mixin input-text {
    font-family: $font-family-sans;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

@mixin subtitle {
    font-family: $font-family-sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 4%;
}

@mixin caption {
    font-family: $font-family-sans;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4%;
}